.env
.venv/*
*.db

.next/*
.env.local
.next
venv/*
venv
node_modules/*
node_modules
*.env.example
!wealthsimple-operator/backend/.env.example
!wealthsimple-operator/frontend/.env.example
__pycache__/*
__pycache__/
*.pyc
